<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{Description}}">
    <title>{{ProjectTitle}}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mdb.min.css">
    <!-- Custom styling -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- Bootstrap grid setup -->
    <div class="container-fluid">
        <div class="row">
            <div id="chart-area"></div>
        </div>
    </div>
<!-- External JS libraries -->
<script src="js/d3.min.js"></script>
<!-- Custom JS -->
<script src="js/main.js"></script>
</body>
</html>









